{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1 class="h1 text-center fw-bold">My Projects</h1>
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-primary" style="margin-bottom: 25px;" href="{% url "create_project" %}" role="button">
                Create a new project
            </a>
        </div>
            {% if not projects %}
            <div class="d-flex justify-content-center">
                <p>You are not assigned to any projects</p>
            </div>
            {% else %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Number of tasks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in projects.all %}
                                        <tr>
                                            <td>
                                                <a class="btn btn-outline-info" href="{% url 'show_project' project.id %}" role="button">{{ project.name }}</a>
                                            </td>
                                            <td>{{ project.tasks.all|length }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
{% endblock content %}
