{% extends 'base.html' %}
{% block content %}
    <main>
            <h1>My Projects</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects.all %}

                        <tr>
                            <td>{{ project.name }}</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
    </main>
    {% endblock content %}
